@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Alright so...</h1>
<h2>"<span class="output">@Model.GetWord()</span>" appears to be in this sentence {<span class="output">@Model.GetSentence()</span>} <strong>@Model.GetWordCount()</strong> times</h2>
<h2>Thank you for using my word counter!!</h2>
<h3><a href="/">Home</a></h3>
